body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  transform: scale();
  transition-property: all;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}

img:hover {
  transform: scale(1.2);
  box-shadow: -1px 9px 45px -19px rgba(0, 0, 0, 0.75);
}

a {
  text-decoration: none;
}

.welcome {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
}

.desktop {
  display: none;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: -1;
}

.top a {
  color: #28352f;
}

.wrapper {
  padding: 1em;
}

.bg {
  display: flex;
  flex-direction: column;
  background-image: url(images/background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  z-index: -1;
}

.p3,
h1,
p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  color: #172b4d;
  text-align: center;
  margin: 0.5em;
  padding: 0.5em;
  letter-spacing: 0.03em;
}

h2,
h3,
h4 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #172b4d;
  text-align: center;
  padding: 0.5em;
  letter-spacing: 0.03em;
}

.sp {
  line-height: 1.2em;
}

.paragraph-one {
  color: #36b37e;
}

.second-paragraph {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.social_media {
  display: flex;
  justify-content: center;
}

.social {
  margin-right: 2rem;
  transition-property: all;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}

.social:hover {
  transform: rotate(180deg);
}

.drop-down {
  display: flex;
  justify-content: center;
}

/* card one styling  */
.top-card-one {
  display: grid;
  justify-content: center;
}

.bd {
  border: 1px solid #ebf0ee;
  display: grid;
}

.fit {
  margin-top: 5em;
  display: grid;
  background-image: url(images/ImgPlaholder.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5em;
}

.col-one {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
}

.col {
  background-color: white;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.col a {
  color: #36b37e;
}

.technologies {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.tech {
  margin-right: 1rem;
  background-color: #ebf0ee;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #28352f;
}

.tech a {
  text-decoration: none;
  color: #28352f;
  text-align: center;
}

.btn {
  display: flex;
  justify-self: center;
  flex: 0 1 auto;
  background-color: #36b37f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 0.5em;
  border-radius: 4px;
  transition-property: font-size;
  transition-delay: 0.5s;
  transition-duration: 1s;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms > * {
  width: 100%;
  margin-top: 1em;
}

input[type=submit] {
  width: 50%;
  justify-self: center;
}

input[type=text],
.message_box {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0.5em;
}

.message_box {
  height: 6em;
  margin-top: 0;
  border: 1px solid #008552;
}

.btn:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
}

.btn:active,
.btn:target {
  background: #008552;
  border-radius: 4px;
}

.ml {
  display: flex;
  justify-self: center;
}

.l-shaped-images {
  position: absolute;
  left: 82%;
  transform: translate(14px, -47px);
}

.diamond {
  display: grid;
  justify-self: end;
}

@media (min-width: 769px) {
  .wrapper {
    padding: 1em;
    margin: 0 auto;
  }

  .bg {
    background-image: url(images/desktopbg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
    padding: 0;
  }

  .second-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 18em;
  }

  .head {
    display: flex;
    justify-content: center;
  }

  .dt {
    margin-right: 1rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: #344563;
  }

  a {
    text-decoration: none;
    color: #344563;
  }

  .grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .col-two {
    width: 80%;
  }

  .its-time-to-flex {
    display: flex;
    width: 100%;
  }

  .forms {
    display: inline;
    width: 100%;
    margin: 1em;
  }

  input[type=text],
  input[type=email] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0.5em;
  }

  input[type=email] {
    width: 100%;
  }

  textarea {
    padding: 12px;
    margin: 0.5em;
  }

  input[type=submit] {
    width: 50%;
    margin: 0.5em;
  }

  .btn:hover {
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
    border-radius: 4px;
    font-size: 26px;
  }

  .btn:active {
    background-color: #008552;
    border-radius: 4px;
  }

  .bottom-images {
    display: flex;
    margin-top: -25%;
  }

  .mid-images {
    position: absolute;
    z-index: -1;
  }

  .ola {
    margin-top: -15%;
  }
}
