$bg:#008552;
$goodcontrast: rgb(54, 179, 126);
$whitebg: rgb(255, 255, 255);

ul {
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  transform: scale();
  transition-property: all;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}

img:hover {
  transform: scale(1.2);
  box-shadow: -1px 9px 45px -19px rgba(0, 0, 0, 0.75);
}

a {
  text-decoration: none;
}

.modal-body,
.welcome {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
}

.container-modal,
.desktop {
  display: none;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.wrapper {
  padding: 1em;
}

.bg {
  display: flex;
  flex-direction: column;
  background-image: url(images/background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  z-index: 1;
}

.p3,
h1,
p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  color: #172b4d;
  text-align: center;
  margin: 0.5em;
  padding: 0.5em;
  letter-spacing: 0.03em;
}

h2,
h3,
h4 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #172b4d;
  text-align: center;
  padding: 0.5em;
  letter-spacing: 0.03em;
}

.sp {
  line-height: 1.2em;
}

.paragraph-one {
  color: $goodcontrast;
  background-color: $whitebg;
}

.second-paragraph {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.social_media {
  display: flex;
  justify-content: center;
}

.social {
  margin-right: 2rem;
  transition-property: all;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}

.social:hover {
  transform: rotate(180deg);
}

.drop-down {
  display: flex;
  justify-content: center;
}

/* card one styling  */
.top-card-one {
  display: grid;
  justify-content: center;
}

.bd {
  border: 1px solid #ebf0ee;
  display: grid;
}

.fit {
  margin-top: 5em;
  display: grid;
  background-image: url(images/ImgPlaholder.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5em;
}

.col-one {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
}

.col {
  background-color: $whitebg;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.col a {
  color: #36b37e;
}

.technologies {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.tech {
  margin-right: 1rem;
  background-color: #ebf0ee;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #28352f;
}

.tech a {
  text-decoration: none;
  color: #28352f;
  text-align: center;
}

.btn {
  display: flex;
  justify-self: center;
  flex: 0 1 auto;
  background-color: #36b37f;
  border: none;
  color: $whitebg;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 0.5em;
  border-radius: 4px;
  transition-property: font-size;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}

// Mobile menu display
.mobile-menu-paragraph {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.display-inline {
  display: flex;
  justify-content: center;
}

.nav-items {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  color: #344563;
}

.mobile-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  background-color: white;
  transition: 0.5s cubic-bezier(0.56, 0.075, 0.475, 0.55);
}

.mob .closed {
  display: flex;
  padding: 0;
  margin: 0;
  height: 10%;
}

.mobile-container.active {
  transform: scale(1);
}

.active {
  transition: 0.3s ease-out border;
}

.modal {
  display: grid;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  background-color: white;
  padding: 0 15px 15px 15px;
  max-width: 100%;
  border: 0.5px solid black;
  border-radius: 10px;
  z-index: 10;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -35px;
}

.modal-header .modal-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 0;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 2.1rem;
  color: #67798e;
}

.modal-body {
  margin-top: 0;
}

.modal-body .modal-img {
  border-radius: 8px;
  max-width: 100%;
}

.modal-body #project-desc .description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.modal-body #technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.modal-body #technologies .tech-type {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1rem;
  background-color: #ebf0ee;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #28352f;
}

.modal-body #technologies .tech-type:nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
}

.modal-body #project-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body #project-buttons .link {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  color: white;
  background-color: #008552;
  text-decoration: none;
  padding: 15px 15px;
  margin: 5px;
  border-radius: 8px;
}

.top a {
  color: #28352f;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms > * {
  width: 100%;
  margin-top: 1em;
}

input[type=submit] {
  width: 50%;
  justify-self: center;
}

input[type=text],
.message_box,
input[type=email] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0.5em;
}

.message_box {
  height: 6em;
  margin-top: 0;
  border: 1px solid #008552;
}

.l-shaped-images {
  position: absolute;
  left: 82%;
  transform: translate(14px, -47px);
}

.diamond {
  display: grid;
  justify-self: end;
}

.nav-items a {
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.nav-items a:hover,
.nav-items a:focus {
  color: $bg;
  background-color: #fff;
  font-size: 1.5rem;
}

/* -------------------------Media query---------------------------- */
@media (min-width: 769px) {
  .wrapper {
    padding: 1em;
    margin: 0 auto;
  }

  .mobile-container {
    display: none;
  }

  .mobile,
  .hamburger,
  .welcome {
    display: none;
  }

  .bg {
    background-image: url(images/desktopbg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .desktop {
    display: block;
    padding: 0;
  }

  .second-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 18em;
  }

  a {
    text-decoration: none;
    color: #344563;
  }

  .grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .col-two {
    width: 80%;
  }

  .its-time-to-flex {
    display: flex;
    width: 100%;
  }

  .forms {
    display: inline;
    width: 100%;
    margin: 1em;
  }

  input[type=text],
  input[type=email] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0.5em;
  }

  input[type=email] {
    width: 100%;
  }

  textarea {
    padding: 12px;
    margin: 0.5em;
  }

  input[type=submit] {
    width: 50%;
    margin: 0.5em;
  }

  .btn:hover {
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
    border-radius: 4px;
    font-size: 26px;
  }

  .btn:active {
    background-color: #008552;
    border-radius: 4px;
  }

  .bottom-images {
    display: flex;
    margin-top: -25%;
  }

  .mid-images {
    position: absolute;
    z-index: -1;
  }

  .ola {
    margin-top: -15%;
  }

  .works-section .project h3 {
    font-size: 40px;
    line-height: 52px;
    margin: 10% 0 2% 0;
  }

  .works-section .project .project-img {
    flex: 30%;
    width: 50%;
    min-width: 30%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 0;
  }

  .works-section .project .work-details {
    flex: 30%;
    width: 50%;
    margin: 0 0 0 3%;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .works-section .project .project-description {
    font-size: 16px;
    margin: 3% 11% 0 0;
  }

  .works-section .project .project-tech {
    margin-bottom: 3%;
    margin-left: 0;
  }

  .works-section .project .project-details {
    transition-duration: 100ms;
    transition-property: 'background';
    margin: 0;
    cursor: pointer;
  }

  .modal {
    min-width: 51%;
    padding: 20px;
    max-height: 99%;
    overflow-y: auto;
  }

  .modal-header {
    margin-bottom: 0;
  }

  .modal-header .modal-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 10px;
  }

  .modal #project-desc {
    display: grid;
  }

  .modal-body .modal-img {
    max-width: 100%;
  }

  .modal-body #project-desc {
    margin-top: 3%;
  }

  .modal-body #technologies .tech-type {
    margin-bottom: 3%;
  }

  .flexing {
    display: flex;
    align-items: center;
  }
}
