@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
.toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 50px;
}

.menu-link {
  color: #fff;
  font-size: 19pt;
}

.hover-1 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1095c1)) var(--p, 0)/var(--p, 0) no-repeat;
  background: linear-gradient(#1095c1 0 0) var(--p, 0)/var(--p, 0) no-repeat;
  -webkit-transition: 0.4s, background-position 0s;
  transition: 0.4s, background-position 0s;
}

.hover-1:hover {
  --p: 100%;
  color: #fff;
}

.hover-2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1095c1)) no-repeat calc(200% - var(--p, 0%)) 100%/200% var(--p, 0.08em);
  background: linear-gradient(#1095c1 0 0) no-repeat calc(200% - var(--p, 0%)) 100%/200% var(--p, 0.08em);
  -webkit-transition: 0.3s var(--t, 0s), background-position 0.3s calc(0.3s - var(--t, 0s));
  transition: 0.3s var(--t, 0s), background-position 0.3s calc(0.3s - var(--t, 0s));
}

.hover-2:hover {
  --p: 100%;
  --t: 0.3s;
  color: #fff;
}

.hover-3 {
  --c: no-repeat linear-gradient(#1095c1 0 0);
  background: var(--c) calc(-101% + var(--p, 0%)) 100%, var(--c) calc(201% - var(--p, 0%)) 0;
  background-size: 50.1% var(--p, 0.08em);
  -webkit-transition: 0.3s var(--t, 0s), background-position 0.3s calc(0.3s - var(--t, 0s));
  transition: 0.3s var(--t, 0s), background-position 0.3s calc(0.3s - var(--t, 0s));
}

.hover-3:hover {
  --p: 101%;
  --t: 0.3s;
  color: #fff;
}

.hover-4 {
  --c: #1095c1;
  line-height: 1.2em;
  background: conic-gradient(from -135deg at 100% 50%, var(--c) 90deg, #0000 0) 0 var(--p, 0%), conic-gradient(from -135deg at 1.2em 50%, #0000 90deg, var(--c) 0) 100% var(--p, 0%);
  background-size: var(--s, 0%) 200%;
  background-repeat: no-repeat;
  -webkit-transition: 0.4s ease-in, background-position 0s;
  transition: 0.4s ease-in, background-position 0s;
}

.hover-4:hover {
  --p: 100%;
  --s: calc(
    50% + 0.61em
  );
  /* it should be 0.6em(1.2em/2) but we use a litte bigger */
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #040c18;
  color: #fff;
  font-family: Inter, sans-serif;
}

.primary {
  color: #fff;
}

.primary-text {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.secondary {
  color: #36b37e;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.green-btn a {
  background-color: #36b37e;
  color: #fff;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  width: 98px;
}

.down-arrow a {
  text-align: center;
  text-decoration: none;
}

.social-icons a {
  text-decoration: none;
  padding: 5px;
}

.view-btn li {
  margin: 0 8px;
  background-color: #36b37e;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
}

.nav-menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 80%;
  text-align: center;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li {
  margin: 10px 12px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.get-in-touch {
  color: red !important;
  padding: 10px;
  border-radius: 15px;
  font-weight: bolder;
}

.logo {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
}

.nav-menu.active {
  display: block;
}

.logo.active {
  display: none;
}

.menu.active {
  display: block;
  text-align: left;
}

.hamburger {
  cursor: pointer;
  color: #fff;
  display: none;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.barWhite {
  background-color: #1a1b1b;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
  background-color: #fff;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
  background-color: #fff;
}

.overlay.active {
  display: block;
  height: 90%;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #040c18;
  border-radius: 5%;
  -webkit-box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
          box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  left: 0;
  margin: auto 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
}

.section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px auto;
}

.headerImages {
  position: relative;
}

.section-bg-image {
  background-image: url(images/red.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.wrapper {
  height: 100%;
  margin: 0 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 160px auto;
}

.icon {
  height: 30px;
  width: 30px;
}

.title {
  text-align: center;
  line-height: 2;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 24px auto;
}

.description {
  text-align: center;
  margin: 24px auto;
  font-size: 1.2rem;
}

.social-icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 24px auto;
}

.social-icons ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icons a i {
  color: #fff;
  height: 20px;
  width: 18px;
  margin: 0 21px;
}

.down-arrow {
  text-align: center;
  margin: 70px auto;
}

.down-arrow img {
  border-radius: 50%;
  padding: 8px;
  border: 1px solid #ebf0ee;
}

.line {
  border: 2px solid #36b37e;
  width: 60px;
  margin: 24px auto;
  display: none;
}

.projects-set {
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.grid-item {
  border: 3px solid #d6d5da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 8px;
  width: 369px;
}

.item-image {
  height: 237px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.item-image img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.item-description {
  border-radius: 5px;
  margin: 10px auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #000;
}

.item-title {
  text-align: center;
  margin: 16px;
  color: #fff;
}

.frameworks li {
  padding: 10px;
  text-align: center;
  margin: 5px 5px;
  font-size: 0.65rem;
  border-radius: 5px;
  white-space: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.view-btn li a {
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.technologies li a {
  text-decoration: none;
  color: #000;
}

.green-btn a:hover {
  background-color: #1d8c6a;
}

.green-btn a:active {
  background-color: #008552;
}

.technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  list-style-type: none;
  white-space: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.technologies li {
  padding: 10px;
  background-color: #ebf0ee;
  text-align: center;
  margin: 5px 5px;
  word-wrap: break-word;
  font-size: 0.75rem;
  border-radius: 5px;
  float: left;
  color: white;
}

.green-btn {
  margin: 16px auto;
}

.about-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 30px auto;
  width: 55%;
  position: relative;
}

.skills-set {
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-item {
  background-image: url(images/ImgPlaholder.png);
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em auto;
  border: none;
  height: 22em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-icon {
  border-radius: 50%;
  margin: 30px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-icon img {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.item-langs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 24px auto;
}

.item-langs li {
  padding: 10px;
  color: #fff;
  text-align: center;
  margin: 5px 5px;
  font-size: 0.75rem;
  border-radius: 5px;
  white-space: nowrap;
}

.technologies li:hover {
  background-color: #36b37f;
  color: white;
}

.technologies li a:hover {
  color: white;
}

.contacts-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px auto;
  width: 80%;
  position: relative;
}

.bottom-bg-image {
  max-width: 80%;
  max-height: 80%;
  position: relative;
  z-index: -1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.contact-column {
  margin: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-notice {
  font-size: 30px;
  font-weight: 700;
  line-height: 2;
  font-style: normal;
  text-align: center;
}

.contact-column form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12px;
}

.form-group input {
  height: 48px;
  width: 100%;
  border: 0.5px solid #36b37e;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 0 5px;
  margin: 0 5px;
}

.form-group textarea {
  width: 100%;
  border: 0.5px solid #36b37e;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 5px 5px;
  margin: 0 5px;
}

.form-group button {
  background-color: #36b37e;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 12px;
  width: 105px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-group button:hover {
  background-color: #36b37f;
}

.form-group button:active {
  background-color: #008552;
}

.display-error {
  border-radius: 15px;
  padding: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error-message img {
  height: 30px;
}

.modal {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
          box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  padding: 24px;
  background: #fff;
  -webkit-transition: all 0.5ms ease-in-out;
  transition: all 0.5ms ease-in-out;
  border: 1px solid #ebecf0;
  border-radius: 8px;
  -webkit-transform: translate(-50%), -50%;
          transform: translate(-50%), -50%;
  width: 60%;
  margin: auto;
  overflow-y: scroll;
  display: none;
  height: 100%;
  min-height: 90vh;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.modal.active {
  -webkit-transform: translate(5%, 0) scale(1);
          transform: translate(5%, 0) scale(1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.modal-header {
  margin: 14px 0;
}

.close {
  margin-top: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  float: right;
  right: 24px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #040c18;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
}

.modal-overlay.active {
  pointer-events: all;
  opacity: 1;
}

.project-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.project-image img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.project-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 12px 0;
}

.project-title h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  word-wrap: break-word;
  color: #000;
}

.view-btn {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.view-btn.view-2 {
  display: none;
}

.frameworks {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12px 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.project-description {
  margin: 12px 0;
}

.project-description p {
  text-align: justify;
  line-height: 1.5;
  color: #000;
}

.bottom-line {
  display: none;
}

.menu.active li {
  margin: 10px 0;
}

.menu.active li a {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}

@media only screen and (min-width: 769px) and (max-width: 1440px) {
  .gradient__bg {
    /* safari 5.1+,chrome 10+ */
    background: radial-gradient(circle at 3% 25%, #002853 0%, #040c18 100%);
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .toolbar {
    background: #040c18;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .overlay.active {
    display: none;
  }
  .logo {
    display: none;
  }
  .nav-menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu.active {
    display: block;
  }
  .section {
    width: 100%;
  }
  .section-bg-image {
    background-image: url(images/header-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  .wrapper {
    height: 100%;
    margin: 0 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 160px auto;
  }
  .icon {
    height: 30px;
    width: 30px;
    opacity: 75%;
  }
  .title {
    text-align: center;
    line-height: 2;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 24px auto;
  }
  .description {
    text-align: center;
    margin: 24px auto;
    font-size: 1.2rem;
  }
  .social-icons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 24px auto;
    color: #fff;
  }
  .social-icons ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social-icons a i {
    height: 20px;
    width: 18px;
    margin: 0 21px;
  }
  .a1:hover,
  .a2:hover,
  .a3:hover,
  .a4:hover,
  .a5:hover {
    -webkit-transform: scale(1.3) rotate(5deg);
            transform: scale(1.3) rotate(5deg);
  }
  .project:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  .down-arrow {
    text-align: center;
    margin: 70px auto;
  }
  .down-arrow img {
    border-radius: 50%;
    padding: 8px;
    border: 1px solid #ebf0ee;
  }
  .line {
    border: 2px solid #36b37e;
    width: 60px;
    margin: 24px auto;
    display: none;
  }
  .item-image {
    height: 237px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .item-image img {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .item-description {
    border-radius: 5px;
    margin: 10px auto;
    color: #000;
  }
  .item-title {
    text-align: center;
    color: #fff;
  }
  .item-titles {
    color: #000;
  }
  .technologies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    list-style-type: none;
    white-space: nowrap;
  }
  .technologies li {
    padding: 10px;
    background-color: #ebf0ee;
    text-align: center;
    margin: 5px 5px;
    word-wrap: break-word;
    font-size: 0.75rem;
    border-radius: 5px;
    float: left;
  }
  .green-btn {
    margin: 24px auto;
  }
  .about-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 30px auto;
    width: 55%;
    position: relative;
    z-index: 1;
  }
  .about-text {
    text-align: justify;
    line-height: 1.7em;
  }
  .about-bg-imgs {
    position: absolute;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .about-bg-imgs img {
    max-width: 70%;
    max-height: 70%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .item-icon {
    border-radius: 50%;
    margin: 30px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item-icon img {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
  .item-langs {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin: 24px auto;
  }
  .item-langs li {
    padding: 10px;
    color: #fff;
    text-align: center;
    margin: 5px 5px;
    font-size: 0.9rem;
    border-radius: 5px;
    white-space: nowrap;
  }
  .contacts-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 80px auto;
    width: 80%;
    z-index: 1;
    position: relative;
  }
  .bottom-bg-imgs {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .bottom-bg-imgs img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .bottom-bg-image {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-column {
    margin: 8px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-notice {
    font-size: 30px;
    font-weight: 700;
    line-height: 2;
    font-style: normal;
    text-align: center;
  }
  .contact-column form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 12px;
  }
  .form-group input {
    height: 48px;
    width: 100%;
    border: 0.5px solid #36b37e;
    outline: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    padding: 0 5px;
    margin: 0 5px;
  }
  .form-group textarea {
    width: 100%;
    border: 0.5px solid #36b37e;
    outline: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    padding: 5px 5px;
    margin: 0 5px;
  }
  .form-group button {
    background-color: #36b37e;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 12px;
    width: 105px;
  }
  .form-group button:hover {
    background-color: green;
  }
  .project-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .project-image img {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .project-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 24px 0;
  }
  .view-btn {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .form-group button:active {
    background-color: #008552;
  }
  .view-btn li {
    margin: 8px;
    background: #36b37e;
    color: #fff;
    border-radius: 4px;
    white-space: nowrap;
    height: auto;
  }
  .view-btn li a {
    text-decoration: none;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .view-btn li a > img {
    margin-left: 8px;
  }
  .frameworks {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .frameworks li {
    padding: 8px;
    background: #ebecf0;
    text-align: center;
    margin: 5px 5px;
    font-size: 0.75rem;
    border-radius: 5px;
    white-space: nowrap;
    color: #000;
  }
  .project-description {
    margin: 12px 0;
  }
  .project-description p {
    text-align: justify;
    line-height: 1.5;
    color: #000;
  }
  .green-btn a:hover {
    background-color: #36b37f;
  }
  .green-btn a:active {
    background-color: #043120;
  }
  div > .green-btn a:hover {
    background-color: #088008;
  }
  .footer {
    border-top: 1px solid #ebf0ee;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-bg-img {
    background: url(images/about-me-left.svg) left no-repeat, url(images/aboutmedesktop-right.svg) right no-repeat;
  }
  .contact-bg-img {
    float: right;
    background: url(images/left-img.svg) left bottom no-repeat, url(images/right-img.svg) right bottom no-repeat;
  }
  .one {
    position: absolute;
    -webkit-transform: translate(-10%, 300%);
            transform: translate(-10%, 300%);
    overflow: hidden;
  }
  .two {
    position: absolute;
    -webkit-transform: translate(438%, 290%) scaleX(-1);
            transform: translate(438%, 290%) scaleX(-1);
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .toolbar {
    background: #040c18;
  }
  .one,
  .two {
    display: none;
  }
  .nav-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .hamburger {
    display: block;
  }
  .logo {
    display: block;
  }
  .menu {
    display: none;
  }
  .wrapper {
    margin: 24px;
  }
  .titles {
    padding: 0 24px;
    line-height: 1.2;
    margin: 24px auto;
  }
  .section-bg-image {
    height: 80%;
  }
  .grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .grid-item {
    max-width: 100%;
  }
  .technologies li {
    font-size: 0.7rem;
  }
  .item-title {
    text-align: center;
    margin: 12px;
    color: #fff;
  }
  .contacts-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px auto;
    width: 80%;
  }
  .bottom-bg-image {
    display: none;
  }
  .form-group {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form-group textarea {
    margin: 0;
  }
  .modal {
    border-radius: 16px;
    padding: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    width: 343px;
    height: 90%;
    min-height: 90vh;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  .modal-header {
    margin: 0 0;
  }
  .close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    right: 0;
    top: 0;
    border-radius: 8px;
    float: right;
    position: absolute;
    color: #000;
  }
  .project-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .project-image img {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    min-height: 100%;
    min-width: 100%;
  }
  .project-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .frameworks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .view-btn {
    width: 100%;
    margin: 8px auto;
  }
  .view-btn li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .view-btn li a {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .item-titles {
    color: #000;
  }
  .technologies li a {
    text-decoration: none;
    color: #000;
  }
  .technologies li:hover {
    background-color: #36b37f;
    color: white;
  }
  .technologies li a:hover {
    color: white;
  }
  .view-btn.view-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 0;
    left: 0;
  }
  .view-btn.view-1 {
    display: none;
  }
  .line {
    display: block;
  }
  .footer {
    border-top: none;
  }
  .footer-email {
    display: block;
    height: 189px;
  }
  .bottom-line {
    border: 2px solid #1a1b1b;
    width: 60px;
    margin: 24px auto;
    display: block;
  }
  .about-bg-img {
    background: url(images/about-me-left.svg) left bottom no-repeat, url(images/aboutmedesktop-right.svg) right top no-repeat;
    background-size: 100px, 500px, auto;
  }
  .contact-bg-img {
    background: url(images/left-img.svg) left bottom no-repeat, url(images/right-img.svg) right bottom no-repeat;
    background-size: 0, 80px, auto;
  }
}

.anima {
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
  -webkit-animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
          animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@-webkit-keyframes scale {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

span:nth-child(1) {
  -webkit-animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  -webkit-animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  -webkit-animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  -webkit-animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  -webkit-animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  -webkit-animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  -webkit-animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  -webkit-animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  -webkit-animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  -webkit-animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  -webkit-animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
  -webkit-animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
  -webkit-animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
  -webkit-animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
  -webkit-animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
  -webkit-animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
  -webkit-animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
  -webkit-animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(19) {
  -webkit-animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(20) {
  -webkit-animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(21) {
  -webkit-animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(22) {
  -webkit-animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(23) {
  -webkit-animation: fade-in 0.8s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(24) {
  -webkit-animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(25) {
  -webkit-animation: fade-in 0.8s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(26) {
  -webkit-animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(27) {
  -webkit-animation: fade-in 0.8s 2.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 2.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(28) {
  -webkit-animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(29) {
  -webkit-animation: fade-in 0.8s 2.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 2.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(30) {
  -webkit-animation: fade-in 0.8s 3s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(31) {
  -webkit-animation: fade-in 0.8s 3.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 3.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(32) {
  -webkit-animation: fade-in 0.8s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(33) {
  -webkit-animation: fade-in 0.8s 3.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 3.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(34) {
  -webkit-animation: fade-in 0.8s 3.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 3.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(35) {
  -webkit-animation: fade-in 0.8s 3.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 3.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(36) {
  -webkit-animation: fade-in 0.8s 3.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 3.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(37) {
  -webkit-animation: fade-in 0.8s 3.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 3.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(38) {
  -webkit-animation: fade-in 0.8s 3.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 3.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(39) {
  -webkit-animation: fade-in 0.8s 3.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 3.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-animation: textclip 2s linear infinite;
          animation: textclip 2s linear infinite;
  display: inline-block;
}

@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/*# sourceMappingURL=style.css.map */